@model IEnumerable<SZABIST_IR_App.Models.tblAllocateCoursesDetail>
@{
    ViewBag.Title = "Courses-List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<style>
    .error {
        color: red;
        font-family: verdana, Helvetica;
    }
</style>

<div class="card-header">
    <h5>COURSES LIST TO BE ASSESSED</h5>
</div>
<div class="container">
    <div class="row d-flex">
        <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
            <form action="@Url.Action("SaveResult", "Assessment")" id="formSubmit" method="@FormMethod.Post" class="form-material">
                <div class="card">
                    <div class="col-md-12">
                        <a href="@Url.Action("Index", "Assessment")" class="btn btn-outline-dark btn-sm"><i class="ti-home"></i><b> BACK TO HOME</b></a>
                    </div>
                    @if (Model.Any())
                    {
                        <div class="card-body" id="divSelectedCourses">
                            <div class="row col-md-12">
                                <div class="col-md-4">
                                    <div class="form-group form-primary form-static-label">
                                        @Html.Editor("ClusterHeadName", new { htmlAttributes = new { @class = "form-control", @ReadOnly = "True", @Value = ViewBag.Details.ClusterHeadName } })
                                        <span class="form-bar"></span>
                                        <label class="float-label">Cluster Head Name</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        @{
                                            if (ViewBag.Details.Semster == "1")
                                            {
                                                @Html.Editor("Semester", new { htmlAttributes = new { @class = "form-control", @ReadOnly = "True", @Value = "Spring" } })
                                            }
                                            else if (ViewBag.Details.Semster == "2")
                                            {
                                                @Html.Editor("Semester", new { htmlAttributes = new { @class = "form-control", @ReadOnly = "True", @Value = "Summer" } })
                                            }
                                            else
                                            {
                                                @Html.Editor("Semester", new { htmlAttributes = new { @class = "form-control", @ReadOnly = "True", @Value = "Fall" } })
                                            }
                                        }
                                        <span class="form-bar"></span>
                                        <label class="float-label">Semester</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        @Html.Editor("Program", new { htmlAttributes = new { @class = "form-control", @ReadOnly = "True", @Value = ViewBag.Details.Program_ShortDesc } })
                                        <span class="form-bar"></span>
                                        <label class="float-label">Program</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        @Html.Editor("ExamName", new { htmlAttributes = new { @class = "form-control", @ReadOnly = "True", @Value = ViewBag.Details.ExamTypeName } })
                                        <span class="form-bar"></span>
                                        <label class="float-label">Exam Name</label>
                                    </div>
                                </div>
                                <div class="col-md-2">
                                    <div class="form-group form-primary form-static-label">
                                        @Html.Editor("Year", new { htmlAttributes = new { @class = "form-control", @ReadOnly = "True", @Value = ViewBag.Details.Year } })
                                        <span class="form-bar"></span>
                                        <label class="float-label">Year</label>
                                    </div>
                                </div>
                            </div>
                            <div class="row col-md-12 table-responsive">
                                <table id="tblCourseList" class="table table-striped table-bordered table-hover display compact" width="100%">
                                    <thead>
                                        <tr style="background-color:#0047AB;color:white;">
                                            <th>Answer Sheet</th>
                                            <th style="display:none">AsgdID</th>
                                            <th style="display:none">CourseID</th>
                                            <th class="text-center">Select</th>
                                            <th>Course Code</th>
                                            <th>Course Name</th>
                                            <th>Instructor</th>
                                            <th>Class</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in Model)
                                        {
                                            <tr>
                                                @*<td><input type="checkbox" name="chbox" value="@item.tAllocateDetailID" /> Unavailable</td>*@
                                                <td><input type="checkbox" name="chbox" value="@item.tAllocateDetailID" /> Unavailable</td>
                                                <td style="display:none">@item.tAllocateDetailID</td>
                                                <td style="display:none">@item.Course_Id</td>
                                                <td class="text-center">
                                                    @Ajax.ActionLink(" Select", "SelectedCourse", new { id = item.tAllocateDetailID },
                                                 new AjaxOptions
                                                 {
                                                     UpdateTargetId = "selectedCrsInfo",
                                                     OnFailure = "onFailure",
                                                     OnSuccess = "onSuccess"
                                                 }, new { @class = "btn btn-outline-primary btn-sm ti-angle-double-right", @Id = "btnSelect" })
                                                </td>
                                                <td>@item.sCourse_Code</td>
                                                <td>@item.sCourse_LongDesc</td>
                                                <td>@item.Instructor</td>
                                                <td>@item.Class</td>

                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            <div class="col-md-12" id="divbtnCopyNotAvailable" style="display:none">
                                <a href="#" id="btnCopyNotAvailable" class="btn btn-outline-danger btn-sm"><i class=""></i><b> Mark Answer sheet(s) unavailable</b></a>
                            </div>
                            <div class="row col-md-12" id="selectedCrsInfo">
                                @*col-md-12 text-center font-weight-bold*@
                            </div>
                            <div id="commentArea" style="display:none">
                                <div class="row col-md-12">
                                    <div class="col-md-12">
                                        <div class="form-group form-primary">
                                            @Html.TextArea("Remarks", new { @class = "form-control", @required = "required" })
                                            <span class="form-bar"></span>
                                            <label class="float-label">Remarks</label>
                                        </div>
                                    </div>
                                </div>
                                <div class="card-footer text-center">
                                    <button type="submit" name="btnSubmit" id="btnSubmit" class="btn btn-primary">Confirm & Submit</button>
                                </div>
                            </div>
                        </div>
                    }
                    else
                    {
                        <div><p class="text-danger text-center h4">All courses are examined! OR Course not Assigned yet!</p></div>
                    }
                </div>
            </form>
        </div>
    </div>
</div>

<script src="~/Scripts/jquery-3.6.0.min.js"></script>
<script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
<script>
    function onSuccess(result) {
        if (result.error) {
            $('#selectedCrsInfo').hide();
            $('#commentArea').hide();
            alert(result.error);
        } else {
            $('#selectedCrsInfo').show();
            $('#selectedCrsInfo').html(result);
            $('#commentArea').show();
        }
    }
    function onFailure() {
        $('#selectedCrsInfo').hide();
        $('#commentArea').hide();
        alert("There are some technical error in AjaxCall!");
    }
    $(document).ready(function () {
        var idz = "";
        $(":checkbox[name='chbox']").on('change', function () {
            idz = $(':checkbox[name=chbox]:checked').map(function () {
                return this.value;
            }).get();
            if (idz != '') {
                $("#divbtnCopyNotAvailable").show();
                $('#selectedCrsInfo').hide();
                $('#commentArea').hide();
            }
            else
                $("#divbtnCopyNotAvailable").hide();
        });


        $("#btnCopyNotAvailable").click(function (e) {
            e.preventDefault();
            if (idz.length > 0) {
                console.log(idz);
                $.ajax({
                    type: "POST",
                    url: "@Url.Action("ifCopyUnavailable")",
                    //data: '{id:' + idz + '}',
                    data: JSON.stringify(idz),
                    contentType: "application/json; charset=utf-8",
                    dataType: "json",
                    success: function (r) {
                        if (r) {
                            console.log(r.data);
                            location.reload(true);
                        } else {
                            console.log("Some Technical Errors!");
                        }
                    }
                });
            }
        });


        $("#btnSubmit").click(function (e) {
            e.preventDefault();
            var QuestionID = [];
            var Points = [];
            var standardID = [];
            $("#qtbody tr").each(function (index, value) {
                var qID = $(this).find('td').find('input[name=QId]').each(function () {
                    QuestionID.push(this.value);
                });
                //var sID = $(this).find('td').find('input[name=StandardNo]').each(function () {
                //    standardID.push(this.value);
                //});
                var CheckedV = $(this).find('td').find('input[type=radio]:checked').each(function () {
                    Points.push(this.value);
                });
            });
            /*var standardIDs = getUnique(standardID);*/
            var tAllocateID = $("#tAllocateID").val();
            var tAllocateDetailID = $("#tAllocateDetailID").val();
            var remark = $("#Remarks").val();
            var valdata = $("#formSubmit").serialize();
            var lengthA = QuestionID.length;
            var lengthB = Points.length;
            //alert("A " + lengthA + " B =" + lengthB)
            if (lengthA == lengthB && remark !== '') {
                $.ajax({
                url: "@Url.Action("SaveResult", "Assessment")",
                type: "POST",
                dataType: 'json',
                contentType: 'application/x-www-form-urlencoded; charset=UTF-8',
                data: {
                    Questions: QuestionID,
                    Gradings: Points,
                    tAllocateID: tAllocateID,
                    tAllocateDetailID: tAllocateDetailID,
                    remarks: remark
                },
                success: function (Response) {
                    if (Response.Success) {
                        alert("Course Assessment Completed Successfully!");
                        //location.reload();
                        window.location.href = "@Url.Action("Index","Assessment")";
                    }
                    else {
                        //alert("Please Select Question Options!");
                        window.alert(' Invalid : ' + Response.message);
                    }
                    //alert(Response);
                    //console.log(Response);
                }
            });
            }
            else {
                alert("All Questions must be checked and Remarks can not be left emplty!");
            }

        });

        });
        function getUnique(array) {
            var uniqueArray = [];
            // Loop through array values
            for (i = 0; i < array.length; i++) {
                if (uniqueArray.indexOf(array[i]) === -1) {
                    uniqueArray.push(array[i]);
                }
            }
            return uniqueArray;
        }

        $('#qtbody tr input[type=radio]').each(function () {
            alert($(this).attr('checked'));
        });
</script>

