<div class="card-header">
    <h5>ALLOCATED COURSES LIST</h5>
</div>
<table class="table table-bordered table-hover compact">
        <thead class="thead-default">
            <tr class="text-uppercase">
                <th>Action</th>
                @*<th style="display:none">tAllocateDetailID</th>*@
                <th>Course Code</th>
                <th>Course Name</th>
                <th>Instructor</th>
                <th>Class</th>

            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
            <tr>
                @*<td style="display:none">@item.tAllocateDetailID</td>*@
                @{
                    if (item.isChecked == true)
                    {
                        @*<td class="bg-success">Select</td>*@
                        <td>
                            @Html.ActionLink("Select Course", "coursesList", new { tAllocateDetailID = item.tAllocateDetailID }, new { @class = "btn btn-outline-success btn-sm ", @Id = "btnSelect" })
                        </td>
                    }
                    else
                    {
                        <td class="bg-danger">Pending</td>
                    }
                }
                <td>@item.sCourse_Code</td>
                <td>@item.sCourse_LongDesc</td>
                <td>@item.Instructor</td>
                <td>@item.Class</td>
            </tr>
            }
        </tbody>
    </table>

