@model IEnumerable<SZABIST_IR_App.Models.Cluster_ClusterDetailsVM>
@{
    ViewBag.Title = "Cluster Setup";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="card-header">
    <h5>LIST OF ALL CLUSTERS CREATED</h5>
</div>
<div class="container">
    <div class="main-body">
        <div class="row d-flex">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                <div class="card justify-content-center">
                    <div class="card-body ">
                        <div class="row col-lg-12">
                            <a href="@Url.Action("CreateCluster","ClusterSetup")" class="btn btn-outline-dark btn-sm"><b><i class="ti-plus"></i> ADD NEW CLUSTER</b></a>
                        </div>
                        <div style="width:100%;">
                            <table id="tblCourseList" class="table table-striped table-bordered table-hover display table-sm" width="100%">
                                <thead class="text-center">
                                    <tr style="background-color:#0047AB;color:white;">
                                        <th class="text-center">Cluster Title</th>
                                        <th class="text-center">Cluster Head Name</th>
                                        <th class="text-center">Since</th>
                                        <th class="text-center">Action</th>
                                    </tr>
                                </thead>
                                @{
                                    int i = 0;
                                    foreach (var item in Model)
                                    {
                                        <tr class="text-center">
                                            <td>@i</td>
                                            <td>@item.head.ClusterHeadName</td>
                                            <td>@item.head.ModifiedDate</td>
                                            <td data-toggle="tooltip" title="Description" data-placement="right">
                                                @Html.ActionLink(" Edit", "EditCluster", new { id = item.head.tCluster_ID }, new { @class = "btn btn-outline-primary btn-sm ti-pencil-alt" })
                                            </td>
                                        </tr>
                                    }
                                }

                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>

<script>
    $(document).ready(function () {
        $('#tblCourseList').dataTable({
            "bLengthChange": false,
            "order": [[0, "asc"]],
            "columnDefs": [
                { "width": "35%", "targets": 0 },
                { "width": "35%", "targets": 1 },
                { "width": "15%", "targets": 2 },
                { "width": "10%", "targets": 3 }
            ],
            language: {
                search: "_INPUT_",
                searchPlaceholder: "Search here..."
            },
            "dom": '<"top"if>rt<"bottom"lp><"clear">'
        });

        $("#tblCourseList_filter input").addClass("form-control-sm");
    });
</script>