@model IEnumerable<SZABIST_IR_App.Models.tblClusterInfo>

@{
    ViewBag.Title = "Index";
}

<div class="card-header">
    <h5>CLUSTER SETUP</h5>
</div>
<a href='@Url.Action("Create")' class="btn btn-outline-dark btn-sm"><i class="ti-plus"></i><b>ADD NEW CLUSTER</b></a>
<div class="container">
    <div class="container">
        <div class="row d-flex">
            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 col-xs-offset-0 col-sm-offset-0 col-md-offset-0 col-lg-offset-0">
                <div class="card justify-content-center">
                    <div class="card-body table-responsive" width="100%">
                        <table id="tblClusterInfo" class="table table-striped table-sm">
                            <thead class="btn-dark">
                                <tr>
                                    <th>
                                        @Html.DisplayName("S#")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Cluster Title")
                                    </th>
                                    <th>
                                        @Html.DisplayName("Cluster Description")
                                    </th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                @{
                                    int i = 0;

                                    foreach (var item in Model)
                                    {
                                        i++;
                                        <tr>
                                            <td>
                                                @i
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClusterTitle)
                                            </td>
                                            <td>
                                                @Html.DisplayFor(modelItem => item.ClusterDescription)
                                            </td>
                                            <td>
                                                @Html.ActionLink(" Edit", "Edit", new { id = item.tCluster_ID }, new { @Class = "btn btn-outline-primary btn-sm ti-pencil-alt" })
                                                @*@Html.ActionLink(" InActive", "Delete", new { id = item.tCluster_ID }, new { @Class = "btn btn-outline-danger btn-sm ti-trash" })*@
                                            </td>
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

