@model IEnumerable<SZABIST_IR_App.Models.tblAllocateCoursesDetail>


<div class="card-header">
    <h5>EVALUATED COURSES INFORMATION</h5>
</div>
<div class="col-md-12 table-responsive table-wrapper-scroll-y my-custom-scrollbar">
    @if (Model.Any())
    {
        <table class="table table-bordered table-hover display compact">
            <thead class="thead-default">
                <tr class="text-uppercase">
                    <th style="display:none">tAllocateDetailID</th>
                    <th>Course Code</th>
                    <th>Course Name</th>
                    <th>Instructor</th>
                    <th>Class</th>
                    <th>Checked</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td style="display:none">@item.tAllocateDetailID</td>
                        <td>@item.sCourse_Code</td>
                        <td>@item.sCourse_LongDesc</td>
                        <td>@item.Instructor</td>
                        <td>@item.Class</td>
                        @{
                            if (item.isChecked == true)
                            {
                                <td class="bg-success">Yes</td>
                            }
                            else
                            {
                                <td class="bg-danger">No</td>
                            }
                        }
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <div class="alert alert-danger text-center" role="alert">
            <span class="text-center">There is no course Evaluated yet.</span>
        </div>
    }

</div>
